head
	meta(charset='utf-8')
	title #{pageTitle}
	meta(name="description", content="#{blogDescription}")
	meta(name="keywords", content="#{blogKeywords}")
	link(rel='shortcut icon', href='/favicon.ico')
	link(rel='stylesheet/less', href='#{basePath}/css/main.less')
	script(src='#{basePath}/js/less.js')